fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-ast
    - id: check-json
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
    - id: end-of-file-fixer
      exclude: custom_components/econnect_metronet/manifest.json
    - id: mixed-line-ending
    - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
      exclude: tests/hass/
      args: ["--profile", "black"]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
    - id: pyupgrade

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
      exclude: tests/hass/
      args: [--line-length=120]

- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
      exclude: tests/hass/
      args: [--max-line-length=120 ]

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.5'
  hooks:
    - id: bandit
      exclude: tests/|tests/hass/

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.285
  hooks:
    - id: ruff
      exclude: tests/hass/
      args: [--line-length=120]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.5.1
  hooks:
    - id: mypy
      exclude: tests/hass/
      additional_dependencies: [types-requests]
